.NavBar {
    width: 100%;
    background-color: transparent !important;
    border: none  !important;
    box-shadow: none  !important;
    height: 70px;
}
.Content {
}

.Results {
    margin: 10px;
}

.SearchButton {
    margin-top: 50px !important;
   margin-left: 200px !important;
}

.Logo {
    margin: 10px;
    height: 60px;
    width: 60px;
}

.ViaAvoidButton {
    margin-top: 5px !important;
}

.Filter {
    width: 400px ;
    margin-left: 70px;
    padding: 10px;
    background-color: transparent !important;
} 